@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
  --img: url('../../../assets/images/bg-login-page.png');
}

.login-header {
  width: 100%;
  height: 100px;
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      width: 100px;
      height: 100px;
      img {
        width: 100px;
        height: auto;
      }
    }
  }

  .middle {
    width: 60%;
    height: 100%;
  }

  .right {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .link-back {
      padding: 10px;

      a {
        color: var(--color-white);
        font-weight: 450;
        font-size: 1.3rem;
      }
    }
  }
}

#forgotPassword {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;

  .account-content {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    min-height: 70vh;
    max-height: 90vh;

    .form-operation {
      height: auto;
      padding: 20px;
      width: 70%;

      .email-f {
        .input-element {
          input {
            outline: none;
            border: none;
            background-color: #fff;
          }
        }
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10px;
        h2 {
          font-size: 1.8rem;
        }
        a {
          margin-right: 40px;
          background-color: transparent;
          border-radius: 50%;
          padding: 5px 6px;
          cursor: pointer;
          svg {
            width: 1.5rem;
            height: 1.5rem;
          }

          &:hover {
            background-color: #eae7e7;
          }
        }
      }

      .form-element {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        p {
          font-size: 1.2rem;
          padding: 10px;
        }

        .title-element {
          max-width: 250px;
          min-width: 200px;
          width: 40%;
        }

        .input-element {
          width: 60%;
          font-weight: 400;
          position: relative;
          svg {
            position: absolute;
            top: 15px;
            right: 10px;
          }
          .validate-error {
            color: #da1010;
            font-size: 0.8rem;
            height: 10px;
          }
        }


        input, select, textarea {
          width: 100%;
          height: 44px;
          margin: auto;
          border-radius: 4px;
          outline: none;
          border: 1px solid #c4bdbd;
          padding-left: 20px;
          font-size: 16px;
        }

      }

      .submit-info {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          width: 100px;
          height: 40px;
          border-radius: 10px;

          img {
            width: 24px;
            height: 24px;
          }

          &:hover {
            background-color: #e1dede;
          }
        }
      }

    }
  }
}

@media screen and (max-width: 992px) {
  #forgotPassword {

    .account-content {

      .form-operation {
        height: auto;
        padding: 20px;
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .login-header {

    .left {
      width: 50%;
      .logo {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80px;
          height: auto;
        }
      }
    }

    .middle {
      display: none;
    }

    .right {
      width: 50%;
      .link-back {
        a {
          color: var(--color-white);
          font-weight: 450;
          font-size: 1rem;
        }
      }
    }
  }

  #forgotPassword {
    .account-content {
      width: 100%;
      .form-operation {
        width: 100%;

        .title {
          padding: 20px 5px;
          h2 {
            font-size: 1.4rem;
          }
        }

        .form-element {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;

          p {
            font-size: 1.2rem;
            padding: 10px;
          }

          .title-element {
            max-width: 250px;
            min-width: 200px;
            width: 40%;
          }

          .input-element {
            width: 80%;
            font-weight: 400;
            position: relative;
            svg {
              position: absolute;
              top: 6px;
              right: 10px;
            }
            .validate-error {
              color: #da1010;
              font-size: 0.8rem;
              height: 10px;
            }
          }


          input, select, textarea {
            width: 100%;
            height: 44px;
            margin: auto;
            border-radius: 4px;
            outline: none;
            border: 1px solid #c4bdbd;
            padding-left: 20px;
            font-size: 16px;
          }


        }

      }
    }
  }
}

@media screen and (max-width: 480px) {
  .login-header {

    .left {
      width: 50%;
      .logo {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 70px;
          height: auto;
        }
      }
    }

    .middle {
      display: none;
    }

    .right {
      width: 50%;
      .link-back {
        a {
          color: var(--color-white);
          font-weight: 450;
          font-size: 1rem;
        }
      }
    }
  }

  #forgotPassword {
    padding: 0;
    .account-content {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      .form-operation {
        width: 100%;

        .title {
          padding: 20px 5px;
          h2 {
            font-size: 1.4rem;
          }
        }

        .form-element {
          p {
            font-size: 1.1rem;
          }

          .input-element {
            width: 100%;
            font-weight: 400;
            position: relative;
            svg {
              position: absolute;
              top: 6px;
              right: 10px;
            }
            .validate-error {
              color: #da1010;
              font-size: 0.8rem;
              height: 10px;
            }
          }


          input, select, textarea {
            width: 100%;
          }

        }
      }
    }
  }
}