
.content-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-operation {
  height: auto;
  width: 60%;

  .form-element {
    margin: 10px 0;
    width: 100%;

    label {
      font-size: 16px;
      font-weight: 600;
      color: #1c1c1c;
      margin-top: 20px;
      display: block;
    }

    input, select, textarea {
      width: 100%;
      height: 50px;
      margin: auto;
      border-radius: 10px;
      outline: none;
      border: 1px solid #c4bdbd;
      padding-left: 20px;
      font-size: 16px;
    }

    input::file-selector-button {
      font-weight: bold;
      color: dodgerblue;
      padding: 0.5em;
      border: none;
      background: transparent;
      border-radius: 3px;
    }
    .image-input {
      input[type="file"] {
        padding: 10px;
      }
    }
    .validate-error {
      color: #da1010;
      font-size: 14px;
    }

    .price-of-product {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .row-pricing {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
        span {
          color: #433e3e;
          font-size: 16px;
          font-weight: 600;
          padding: 20px 0 0 0;
        }

        button {
          width: 30px;
          height: 30px;
          margin: 10px;
        }
      }

      .form-label-child {
        width: 45%;
        margin: 5px 0 5px 15px;
        padding: 10px;
      }
    }
    .btn-add-price{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      button {
        width: 30px;
        height: 30px;
        margin: 10px;
      }
    }
  }

  .form-pricing {
    overflow-y: auto;
    max-height: 300px;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #7e7979;
    }

    &::-webkit-scrollbar-track {
      background-color: #ccc;
    }
  }

  .btn-submit {
    display: flex;
    justify-content: center;
    button {
      width: 140px;
      height: 50px;
      background-color: #e0a42c;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 600;
      left: 25%;
    }
  }
}

@media screen and (max-width: 480px) {
  .form-operation {
    width: 100%;
  }
}