@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.bestSales {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* Chỉnh lại kích thước phù hợp */
  justify-content: center;
  overflow: hidden;
  font-family: Playfair Display, sans-serif;

  .sale {
    position: relative;
    width: 100%; /* Chỉnh lại kích thước phù hợp */
    height: 500px; /* Chỉnh lại kích thước phù hợp */
    overflow: hidden;
    margin: -50px 0;
    z-index: 1;
    transition: transform 0.3s ease-in-out;

    .sale-element {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .imageProduct {
        width: 50%;
        margin: 0 20px;
        img {
          width: 80%;
          height: auto;
          object-fit: cover;
          filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.5));
        }
      }
      .textBox {
        width: 40%;
        text-align: right;
        padding-right: 40px;

        h3 {
          color: #f41e0a;
          font-weight: 600;
          font-size: 50px;
          padding: 10px 0;
        }

        .productName {
          font-size: 25px;
          font-weight: 600;
          color: #222120;
          padding: 10px 0;
        }

        .shortDescription {
          font-size: 16px;
          font-weight: 300;
          color: #706c68;
        }
        .price {
          font-size: 30px;
          font-weight: 600;
          color: #1c1b1b;
        }
        .buyButton {
          button {
            background-color: #1c1b1b;
            color: #fff;
            width: 90px;
            height: 40px;
            margin: 10px;

            &:hover {
              background-color: #353333;
              color: #fff;
            }
          }
        }
      }
    }

    &:hover {
      transform: scale(1.05); /* Phóng to khối khi hover */
      z-index: 3; /* Đảm bảo khối nằm trên cùng khi hover */
    }
  }
  .polygon:nth-child(odd) {
    clip-path: polygon(100% 0%,
            100% 100%,
            0% 90%,
            0% 10%);
    z-index: 1;
  }
  .polygon:nth-child(even) {
    clip-path: polygon(0% 0%,
            100% 10%,
            100% 90%,
            0% 100%);
    z-index: 3;
    .textBox {
      text-align: left;
      padding: 20px;
    }
  }
  .polygon:nth-child(1) {
    background-color: #f3eeef;
    background-image: url("../../assets/images/bg-bs.jfif");
  }
  .polygon:nth-child(2) {
    background-image: radial-gradient(circle at 75% center, #433f3f 15%, #191818 50%);
    .textBox {
      h3 {
        color: #f41e0a;
        font-weight: 600;
        font-size: 50px;
        padding: 10px 0;
      }

      .productName {
        font-size: 25px;
        font-weight: 600;
        color: #e1e1e0;
        padding: 10px 0;
      }

      .shortDescription {
        font-size: 16px;
        font-weight: 300;
        color: #9f9f9f;
      }
      .price {
        font-size: 30px;
        font-weight: 600;
        color: #dfdfdf;
      }
      .buyButton {
        button {
          background-color: #1c1b1b;
          color: #fff;
          width: 90px;
          height: 40px;
          margin: 10px;

          &:hover {
            background-color: #353333;
            color: #fff;
          }
        }
      }
    }
  }
  .polygon:nth-child(3) {
    z-index: 3;
    background-image: radial-gradient(circle at 25% center, #bfbdbd 20%, #9c9c9c 50%);
  }
}

@media screen and (max-width: 992px) {
  .bestSales {
    .sale {
      width: 100%;
      height: 450px;
      .sale-element {

        .textBox {
          width: 40%;
          text-align: right;

          h3 {
            font-size: 1.2rem;
            padding: 0;
          }

          .productName {
            font-size: 1.3rem;
          }

          .shortDescription {
            font-size: 1rem;
          }
          .price {
            font-size: 1.1rem;
          }
          .buyButton {
            button {
              font-size: 0.9rem;
              width: 65px;
              height: 30px;

            }
          }
        }
      }
    }

    .polygon:nth-child(even) {
      clip-path: polygon(0% 0%,
              100% 10%,
              100% 90%,
              0% 100%);
      z-index: 3;
      .textBox {
        text-align: left;
        padding: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bestSales {
    .sale {
      width: 100%;
      height: 400px;
      .sale-element {

        .textBox {
          width: 40%;
          text-align: right;

          h3 {
            font-size: 1rem;
            padding: 0;
          }

          .productName {
            font-size: 1.2rem;
          }

          .shortDescription {
            font-size: 0.8rem;
          }
          .price {
            font-size: 0.9rem;
          }
          .buyButton {
            button {
              font-size: 0.7rem;
              width: 60px;
              height: 25px;

            }
          }
        }
      }
    }

    .polygon:nth-child(even) {
      clip-path: polygon(0% 0%,
              100% 10%,
              100% 90%,
              0% 100%);
      z-index: 3;
      .textBox {
        text-align: left;
        padding: 20px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .bestSales {
    .sale {
      width: 100%;
      height: 350px;
      .sale-element {

        .textBox {
          width: 40%;
          text-align: right;

          h3 {
            font-size: 1rem;
            padding: 0;
          }

          .productName {
            font-size: 1.2rem;
          }

          .shortDescription {
            font-size: 0.8rem;
          }
          .price {
            font-size: 0.9rem;
          }
          .buyButton {
            button {
              font-size: 0.7rem;
              width: 60px;
              height: 25px;

            }
          }
        }
      }
    }

    .polygon:nth-child(even) {
      clip-path: polygon(0% 0%,
              100% 10%,
              100% 90%,
              0% 100%);
      z-index: 3;
      .textBox {
        text-align: left;
        padding: 20px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .bestSales {
    .sale {
      width: 100%;
      height: 300px;
      .sale-element {
        width: 100%;
        height: 100%;

        .textBox {
          width: 40%;
          text-align: right;
          h3 {
            font-size: 0.7rem;
            padding: 0;
          }

          .productName {
            font-size: 0.8rem;
          }

          .shortDescription {
            font-size: 0.6rem;
          }
          .price {
            font-size: 0.7rem;
          }
          .buyButton {
            button {
              font-size: 0.6rem;
              width: 50px;
              height: 20px;

            }
          }
        }
      }
    }

    .polygon:nth-child(even) {
      clip-path: polygon(0% 0%,
              100% 10%,
              100% 90%,
              0% 100%);
      z-index: 3;
      .textBox {
        text-align: left;
        padding: 20px;
      }
    }
  }
}



