#dashboard {
  margin-top: 4rem;

  .analyse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

    .growth {

      h3 {
        margin-left: 0.6rem;
        font-size: 1rem;
      }

      .progress {
        position: relative;
        width: 92px;
        height: 92px;
        border-radius: 50%;

        .percentage {
          position: absolute;
          top: -3px;
          left: -1px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
        }
      }

      svg {
        width: 7rem;
        height: 7rem;

        circle {
          fill: none;
          stroke-width: 10;
          stroke-linecap: round;
          transform: rotate(-90deg);
          transition: stroke-dashoffset 1s;
          transform-origin: center;
        }
      }
    }

    .sales {
      svg {
        circle {
          stroke: var(--color-success);
        }
      }
    }

    .visits {
      svg {
        circle {
          stroke: var(--color-danger);
        }
      }
    }

    .searches {
      svg {
        circle {
          stroke: var(--color-primary);
        }
      }
    }
  }

  .analyse > div {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: none;
    }

    .status {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .info {
        text-align: center;
        h1 {
          font-size: 1.4rem;
          color: var(--color-dark);
        }
        select {
          border: 1px solid var(--color-primary);
          background-color: transparent;
          padding: 5px;
          color: var(--color-dark);
          border-radius: var(--card-border-radius);
        }
      }
    }
  }

  .new-users {
    margin-top: 1.3rem;

    .user-list {
      background-color: var(--color-white);
      padding: var(--card-padding);
      border-radius: var(--card-border-radius);
      margin-top: 1rem;
      box-shadow: var(--box-shadow);
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 1.4rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: none;
      }

      .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 5rem;
          height: 5rem;
          margin-bottom: 0.4rem;
          border-radius: 50%;
        }
      }
    }
  }

  .recent-orders {
    margin-top: 1.3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;

    h2 {
      margin-bottom: 0.8rem;
    }

    a {
      text-align: center;
      display: block;
      color: var(--color-primary);
    }

    .bill-content {
      background-color: var(--color-white);
      padding: var(--card-padding);
      border-radius: var(--card-border-radius);
      margin-top: 1rem;
      box-shadow: var(--box-shadow);
      width: 100%;
      height: 100%;
      cursor: pointer;
      transition: all 0.3s ease;

      p {
        color: var(--color-dark);
        padding: 10px 20px;
      }

      .styled-list {
        list-style-type: none;
        padding: 10px 20px;
        margin-left: 30px;
        position: relative;

        li {
          position: relative;
          margin-bottom: 20px;
          padding-left: 20px;

          .date {
            color: var(--color-primary);
            display: block;
            padding: 6px 0;
          }

          .customer-name {
            color: var(--color-dark);
            display: block;
            padding: 6px 0;
          }
        }

        li:hover {
          background-color: var(--color-hover);
          border-radius: 10px;
        }

        li::before {
          content: '';
          position: absolute;
          left: -20px;
          top: 0.5em;
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }

        li::after {
          content: '';
          position: absolute;
          left: -16px;
          top: 1.5em;
          bottom: -20px;
          width: 2px;
          background-color: var(--color-info-dark);
        }

        li:first-child::before {
          background-color: #610aca;
        }

        li:nth-child(2)::before {
          background-color: #0c4dd8;
        }

        li:nth-child(3)::before {
          background-color: #1ae814;
        }

        li:nth-child(4)::before {
          background-color: #e4e10a;
        }

        li:nth-child(5)::before {
          background-color: #e40a0a;
        }

        li:last-child::after {
          display: none;
        }
      }
    }

  }
}

@media screen and (max-width: 1200px) {

  #dashboard {
    .analyse{
      grid-template-columns: 1fr;
      gap: 0;
    }
    .new-users {
      .user-list {
        .user{
          flex-basis: 40%;
        }
      }
    }

    .recent-orders {
      margin: 2rem 0 0 0.8rem;

      table{
        width: 83vw;

        thead {

          tr {
            th:first-child, th:first-child {
              display: none;
            }
          }
        }

        tbody {
          tr {
            td:last-child, td:first-child{
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  #dashboard {
    margin-top: 6rem;
    .analyse {
      .info {
        h1 {
          font-size: 1.2rem!important;
        }
      }
    }
    .recent-orders{
      position: relative;
      margin: 3rem 0 0 0;
      width: 100%;
    }

    table{
      width: 100%;
      margin: 0;
    }
  }

}

@media screen and (max-width: 400px) {

  #dashboard {
    margin-top: 6rem;

    .analyse {
      .growth {
        border-radius: 0;
        box-shadow: 0 0.1rem 0.1rem var(--color-light);
      }
    }
    .recent-orders{

      .bill-content {
        border-radius: 0;
      }
    }

    table{
      width: 100%;
      margin: 0;
    }
  }

}