* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #111;
  line-height: 1.15;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

li {
  color: black;
}

a {
  text-decoration: none;
}


.content {
  width: 90%;
  position: relative;
  left: 5%;
  margin-bottom: 5%;
}

/*************/
.button-show-filter {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  display: none;

  button {
    width: 30px;
    height: 30px;
    border: 1px solid #111;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 1.3rem;
      color: #111;
    }
  }
}

.content-body {
  display: flex;
  min-height: 100vh;

  .loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-list {
    width: 80%;
    .products{
      padding: 20px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      li{
        position: relative;
        width: 25%;
        flex-basis: 25%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
        .product-item {
          border-radius: 25px;

          .delete-item {
            position: absolute;
            top: -3%;
            right: 2%;

            .delete-btn {
              border-radius: 50%;
              background-color: #f5eded;
              color: #332d2d;
              padding: 0 10px;
              font-weight: 500;
              font-size: 24px;
            }
            .delete-btn:hover {
              border: #e01717 1px solid;
              color: #e01717;
            }
          }
        }
        .products-top{
          position: relative;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          .product-thumb{
            display: block;
            background-color: white;
            border-radius: 25px 25px 0 0;
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 100%;

            img{
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 25px 25px 0 0;
              transition: opacity 1s ease-in-out;
            }
          }
          .buy-now {
            font-size: medium;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            display: block;
            background-color: #446084;
            color: #fff;
            padding: 10px 0;
            position: absolute;
            bottom: -36px;
            width: 100%;
            transition: 0.25s ease-in-out;
            opacity: 0.8;
          }
        }
        .product-info{
          padding: 10px;
          background-color: #f1efef;
          min-height: 150px;
          max-height: 200px;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          border-radius: 0 0 25px 25px;
          .product-code {
            color: green;
            font-size: 15px;
          }
          a {
            display: flex;
            text-decoration: none;
            align-items: flex-end;
            height: 25px;
          }
          .product-name {
            font-size: 1rem;
            text-transform: uppercase;
            color: #797777;
            width: 100%;
            min-height: 40px;
            height: 50px;
          }

          div {
            padding: 5px 0;
            .product-price{
              color: #ff0000;
              font-size: 1rem;
            }
            .product-price-old{
              color: #5e5a5a;
              font-size: 0.9rem;
              text-decoration: line-through;
            }
          }
          .edit-item {
            .button {
              display: block;
            }
          }
        }
      }
      li:hover {
        .products-top{
          img {
            filter: opacity(100%);
          }
          .buy-now{
            bottom: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@keyframes slide {
  0% { opacity: 1; }
  20% { opacity: 0; }
  40% { opacity: 1; }
  60% { opacity: 0; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

.product-thumb.hover img {
  position: absolute; /* Đảm bảo ảnh nằm chồng lên nhau */
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: slide 10s infinite; /* Tăng thời gian để ảnh chạy chậm hơn */
}

.product-thumb.hover img:nth-child(1) { animation-delay: 0s; }
.product-thumb.hover img:nth-child(2) { animation-delay: 1s; } /* Thay đổi độ trễ để ảnh không chồng lên nhau */
.product-thumb.hover img:nth-child(3) { animation-delay: 2s; }
.product-thumb.hover img:nth-child(4) { animation-delay: 4s; }


.content-button {
  background-color: transparent;
  border: 1px solid #35f517;
  padding: 8px 20px;
  color: #35f517;
  border-radius: 20px;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
  position: relative;
  left: 25%;
}
.content-button-red {
  border: 1px solid #e55203;
  color: #e55203;
}
.content-button:not(.open):hover {
  background: #35f517;
  color: white;
}
.content-button-red:not(.open):hover{
  background: #e55203;
  color: white;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 98%;
    left: 2%;
    .content-body {
      .product-list {
        width: 100%;
        .products{
          padding: 5px;
          li{
            padding: 8px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .content {
    .content-body {
      .product-list {
        width: 100%;
        .products{
          padding: 5px;
          li{
            width: 33.33%;
            flex-basis: 33.33%;
            padding: 10px;
            .products-top{
              .buy-now {
                font-size: 1rem;
              }
            }
            .product-info{
              .product-code {
                font-size: 0.9rem;
              }
              .product-name {
                font-size: 0.9rem;
                padding-bottom: 5px;
                height: 50px;
              }
              div {
                padding: 5px 0;
                .product-price{
                  color: #ff0000;
                  font-size: 0.9rem;
                }
                .product-price-old{
                  color: #5e5a5a;
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    left: 0;
    .button-show-filter {
      display: flex;
    }

    .content-body {

      .product-list {
        width: 100%;
        .products{
          li{
            width: 33.33%;
            flex-basis: 33.33%;
            .products-top{
              .buy-now {
                font-size: 1rem;
              }
            }
            .product-info{
              .product-code {
                font-size: 0.9rem;
              }
              .product-name {
                font-size: 1rem;
                padding-bottom: 5px;
              }
              div {
                padding: 5px 0;
                .product-price{
                  color: #ff0000;
                  font-size: 0.9rem;
                }
                .product-price-old{
                  color: #5e5a5a;
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
    left: 0;

    .content-body {

      .product-list {
        width: 100%;
        .products{
          justify-content: center;
          li{
            width: 50%;
            flex-basis: 40%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .content {
    width: 100%;
    left: 0;

    .content-body {

      .product-list {
        width: 100%;
        .products{
          justify-content: center;
          li{
            width: 50%;
            flex-basis: 50%;
          }
        }
      }
    }
  }
}
