@mixin cart-login-fill {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    a {
        svg {
            fill: white;
        }
    }
}

.head {
    width: 100%;
    position: sticky;
    height: 100px;
    z-index: 2;
    background-color: #393636;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: auto;
    .logo {
        width: 25%;
        height: 100%;
        img {
            width: 90px;
            height: 90px;
            border-radius: 50%;
        }
    }
    .btn-menu {
        display: none;
        color: #fff;
    }
    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        max-width: 650px;
        min-width: 400px;
        padding-left: 16px;
        border-radius: 4px;
        .searching {
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 4px;
            font-family: "Times New Roman", sans-serif;
            font-size: 15px;
            font-weight: 500;
            padding: 0 20px 0 40px;
            box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
            background-size: 14px;
            background-repeat: no-repeat;
            background-position: 16px 48%;
            outline: none;
        }
        .search-bar ::-moz-placeholder {
            font-family: "Times New Roman", sans-serif;
            font-size: 15px;
            font-weight: 500;
        }
        .searching::placeholder {
            font-family: "Times New Roman", sans-serif;
            font-size: 15px;
            font-weight: 500;
        }
        button {
            display: none;
        }

    }
    .cart{
        @include cart-login-fill;
        width: 10%;
        a {
            position: relative;
            width: 30px;
            svg {
                width: 30px;
                height: 30px;
            }
            svg:hover{
                fill: #efa810;
            }
            .amount-product {
                color: white;
                background-color: #dc060e;
                font-size: 12px;
                position: absolute;
                padding: 5px;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                right: -7px;
                top: -10px;
            }
        }
    }
    .login {
        @include cart-login-fill;
        width: 15%;
        position: relative;
        a {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 30px;
                height: 30px;
            }

            svg:hover{
                fill: #efa810;
            }
        }
        a:hover{
            svg {
                fill: #1044ef;
            }
            span {
                color: #1044ef;
            }
        }
        span {
            margin-left: 10px;
            font-size: 16px;
            color: white;
        }

        .user-box {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 7px;
            .avatar {
                padding: 0 10px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }

            .username {
                font-size: 14px;
                font-weight: 600;
                color: #fff;
            }

            svg {
                fill: #fff;
                width: 15px;
                height: 15px;
                padding: 0 0 5px 5px;
            }
        }
        .show-dropdown {
            cursor: pointer;
        }

        .dropdown-content {
            top: 60px;
            right: 0;
            width: 200px;
            display: none;
            font-size: 13px;
            position: absolute;
            z-index: 1;
            border: 2px solid #ccc;
            background-color: #fff;

            .user-full-name {
                padding: 8px 10px;
                display: none;
                justify-content: flex-start;
                align-items: center;

                .avatar {
                    width: 25px;
                    border-radius: 50%;
                    margin-right: 10px;
                    img {
                        width: 25px;
                        border-radius: 50%;
                    }
                }

                font-weight: 600;
            }
            a {
                display: flex;
                font-family: "Poppins", sans-serif;
                color: #000;
                padding: 8px 10px;
                text-decoration: none;
                justify-content: flex-start;
                align-items: center;
                transition: 0.1s;

                svg {
                    fill: #000;
                    width: 20px;
                    margin: 0 5px;
                }
            }

            a:focus {
                background-color: #636161;
            }

            a:hover {
                background-color: #bdbaba;
            }
        }

        .dropdown-content.show {
            display: block;
        }
    }

}
@media screen and (max-width: 992px) {
    .head {
        width: 100%;
        height: 80px;
        .logo {
            width: 20%;
            height: 100%;
            padding-left: 15px;
            img {
                width: 70px;
                height: auto;
            }
        }
        .btn-menu {
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5%;
            height: 50%;

            svg {
                font-size: 1.8rem;
            }
        }
        .search-bar {
            width: 60%;
            height: 100%;
            max-width: 450px;
            min-width: 300px;
            border-radius: 4px;
            .searching {
                width: 100%;
                height: 30px;
            }
            .search-bar ::-moz-placeholder {
                font-size: 1rem;
            }
            .searching::placeholder {
                font-size: 1rem;
            }
        }
        .cart{
            width: 10%;
            a {
                position: relative;
                width: 24px;

                svg {
                    width: 22px;
                    height: 22px;
                }
                .amount-product {
                    font-size: 0.8rem;
                    width: 18px;
                    height: 18px;
                    padding: 2px;
                }
            }
        }
        .login {
            display: none;
            width: 15%;
            padding-left: 20px;
            text-align: center;
            align-items: center;
            a {
                svg {
                    width: 18px;
                    height: 18px;
                }
                span {
                    margin-left: 5px;
                    font-size: 1rem;
                    color: white;
                }
            }

        }
    }

}

@media screen and (max-width: 768px) {
    .head {
        width: 100%;
        height: 120px;
        .btn-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15%;
            height: 50%;

            svg {
                font-size: 1.8rem;
            }
        }
        .logo {
            width: 70%;
            height: 50%;
            padding-left: 15px;
            img {
                width: 60px;
                height: auto;
            }
        }
        .search-bar {
            width: 100%;
            height: 50%;
            max-width: 400px;
            min-width: 250px;
            border-radius: 4px;
            order: 5;
            padding: 10px;
            .searching {
                width: 100%;
                height: 30px;
            }
            .search-bar ::-moz-placeholder {
                font-size: 0.9rem;
            }
            .searching::placeholder {
                font-size: 0.9rem;
            }
        }
        .cart{
            width: 15%;
            padding: 0;
            a {
                width: 20px;
                svg {
                    width: 20px;
                    height: 20px;
                }
                .amount-product {
                    top: -7px;
                    font-size: 0.7rem;
                    width: 15px;
                    height: 15px;
                    padding: 2px;
                    margin: 0 0 20px 10px;
                }
            }
        }
        .login {
            display: none;
        }
    }

}




