.navbar {
  background-color: #201e1e;
  width: 100%;
  height: 50px;
  z-index: 1;
  position: relative;

  .sidebar-header {
    display: none;
  }
  .user-box {
    width: 100%;
    display: none;
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding: 7px;
    .avatar {
      padding-bottom: 10px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    .username {
      font-size: 14px;
      font-weight: 600;
      color: #000;
    }

    svg {
      fill: #000;
      width: 15px;
      height: 15px;
      padding: 0 0 5px 5px;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    .dropdown {
      padding: 16px 0;
      .dropdown-thumb {
        color: #f3eeee;
        font-size: 13px;
        font-weight: 600;
        padding: 0 25px;
        text-transform: uppercase;
        span {

        }
        button {
          margin-left: 10px;
          padding: 0 10px;
          border: none;
          background: transparent;
          width: 20px;
          height: 20px;
          color: white;
          font-size: 1.2rem
        }
      }
      .dropdown-content {
        display: none;
        font-size: 13px;
        position: absolute;
        z-index: 1;
        min-width: 200px;
        background-color: #f4efef;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        margin-top: 15px;
        text-transform: uppercase;

        a {
          color: #121111;
          padding: 15px 25px;
          text-decoration: none;
          display: block;
          transition: 0.1s;
        }
        a:hover {
          background-color: #0d85e2;
          color: #f3eeee;
        }
        a:focus {
          background-color: #212121;
          color: #f3eeee;
        }
      }
    }
    .dropdown:hover {
      .dropdown-content {
        display: block;
      }
    }
    li:hover {
      background-color: #0d85e2;
    }
  }

  .logout {
    display: none;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 25px;
  }

  .login {
    display: none;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 25px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    ul {
      .dropdown {
        .dropdown-thumb {
          font-size: 0.8rem;
        }
        .dropdown-content {
          a {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    top: 0;
    left: 0;
    max-width: 250px;
    min-width: 200px;
    height: 100vh;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
    background-color: #fffdfd;
    transition: transform 0.3s ease;
    transform: translateX(-100%);

    &::-webkit-scrollbar{
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb{
      background-color: black;
    }

    &::-webkit-scrollbar-track{
      background-color: #ccc;
    }

    .sidebar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 70px;
      .sidebar-logo {
        width: 85%;
        height: 100%;
        text-align: center;
        img {
          margin-left: 30px;
          width: 70px;
          height: auto;
        }
      }
      .close-sidebar {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        svg {
          font-size: 2rem;
        }
      }
    }

    .user-box {
      display: block;
    }

    ul {
      display: block;
      line-height: 50px;
      .dropdown {
        padding: 0;
        .dropdown-thumb {
          color: #000;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            color: #000;
          }
          button {
            color: #000000;
          }
        }
        .dropdown-content {
          display: none;
          font-size: 0.9rem;
          position: relative;
          background-color: #f4efef;
          box-shadow: none;
          margin-top: 15px;
          text-transform: uppercase;
          width: 100%;
          a {
            color: #121111;
            padding: 0 25px;
            text-decoration: none;
            display: block;
            transition: 0.1s;
          }
          a:hover {
            background-color: #c2c8cc;
            color: #0b0b0b;
          }
          a:focus {
            background-color: #70b6df;
            color: #f3eeee;
          }
        }
      }
      li:hover {
        background-color: #c2c8cc;
      }
    }

    .logout {
      display: block;
      width: 100%;
      font-size: 0.9rem;
      font-weight: 600;
      padding: 25px;
      position: absolute;
      bottom: 0;
      cursor: pointer;
    }

    .login {
      display: block;
      width: 100%;
      font-size: 0.9rem;
      font-weight: 600;
      padding: 25px;
      position: absolute;
      bottom: 0;
    }
  }
  .navbar.appear {
    transform: translateX(0);
  }
}