#dashboard-container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 12rem auto 23rem;
}

#no-permission {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/not-allow.jpeg") no-repeat right center;

  h1 {
    padding: 10px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(2, 2, 2, 0);
    font-weight: 500;
    color: var(--color-primary);

    svg {
      margin-left: 10px;
    }

    &:hover {
      background-color: var(--color-success);
      color: var(--color-white);
    }
  }
}

@media screen and (max-width: 1200px) {
  #dashboard-container{
    width: 95%;
    grid-template-columns: 7rem auto 23rem;
  }
}

@media screen and (max-width: 992px) {
  #dashboard-container{
    width: 95%;
    grid-template-columns: 7rem 55rem 23rem;
  }
}

@media screen and (max-width: 768px) {
  #dashboard-container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 var(--padding-1);
  }
}

@media screen and (max-width: 400px) {
  #dashboard-container {
    width: 100%;
    grid-template-columns: 1fr;
    background-color: var(--color-white);
    padding: 0;
    gap: 0;
  }
}